NEXT_PUBLIC_API_URL=

GATEWAY_API_URL=
APPYPAY_ACCESS_TOKEN=
APPYPAY_MERCHANT_IDENTIFIER=
APPYPAY_API_KEY=
APPYPAY_GPO_ID=
APPYPAY_REF_ID=
APPY_CLIENT_ID=
APPY_CLIENT_SECRET=
APPY_RESOURCE=

DATABASE_URL=
NODE_ENV=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
