@import "tailwindcss";

@theme {
  --color-primary: #0149a7;
  --color-secondary: #b48a2c;
  --color-tertiary: #b48a2c;
  --color-accent: #00132c;
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

body {
  font-family: var(--font-plus-jakarta-sans);
}

.btn-primary {
  @apply bg-secondary text-white rounded-full flex items-center justify-center gap-2 cursor-pointer hover:bg-transparent hover:ring-2 hover:ring-secondary transition-colors duration-300;
}

.btn-secondary {
  @apply rounded-full hover:scale-105 text-white flex items-center justify-center gap-2 cursor-pointer from-primary/0 via-secondary/0 to-tertiary/0 ring-2 ring-primary transition-transform duration-300;
}
